* {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
}

/* This is a sidebar css  */
.sidebar {
    width: 20%;
    height: 800px;
    border: 2px solid rgb(165, 160, 160);
}

.logo {
    /* width: 20px;
    height: 30px; */
    display: flex;
    gap: 4px;
    margin: 20px;

}

.ptext1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.ptext2 {
    font-family: sans-serif;
    font-size: 13px;

}

img {
    width: 40px;
    height: 40px;
}

.Menulist{
     margin: 20px;
    

}
.Menulist2{
   margin: 20px;
}

.Topiclist {
    margin: 20px;
}

.Topiclist2{
     margin: 20px;
}


/* this is main dashbar csss */

.dashbar {
    width: 80%;
    height: 800px;
    /* border: 2px solid red; */
}

nav {
    background-color: rgb(227, 224, 224);
    height: 60px;
}

.Title {
    /* margin: 20px; */
    margin-left: 800px;
    display: flex;
    gap: 10px;

}

/* Dashboard under css 4 boxes */

.box1{
    border: 1px solid red;
    width:500px;
    height: 180px;
    margin: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: skyblue;
}

.box2{
    border: 1px solid red;
    width: 500px;
    height: 150px;
    margin: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(20, 126, 20);
}

.box3{
    border: 1px solid red;
    width: 500px;
    height: 180px;
    margin: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(239, 239, 15);
}

.box4{
    border: 1px solid red;
    width: 500px;
    height: 180px;
    margin: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(225, 92, 92);
}

.Dashboard{
    gap: 20px;
}

.Dashboard1{
    display: flex;
    gap: 20px;
}
button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
}
i{
     border-radius: 10px;
}


/* This is a Ratio of Tasks & Users Graph etc */
.image{
  width: 100%;
    /* border: 2px solid red; */
    display: flex;
}

.image2{
    width: 50%;
    border: 2px solid black;
    margin: 20px;
    
}

.Table{
 width: 50%;
    border: 2px solid pink;
    margin: 20px;
}